/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/roboto-v47-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/roboto-v47-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/roboto-v47-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/roboto-v47-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-800italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
    src: url('../assets/fonts/roboto-v47-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    margin: 0;
    padding: 0;
    width: 75%;
    margin: auto;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    background-color: #010e04;
    color: whitesmoke;
}

h1, img {
    display: inline-block;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

button {
    border: none;
    padding: 4px 16px;
}

/* --- NAVIGATION HEADER  --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: capitalize;
}

.right-links {
    display: flex;
    gap: 16px;
}

.logo {
    color: #adff2f;
    font-size: 20px;
    font-weight: 800;
}

/* --- HERO SECTION --- */

span {
    color: greenyellow;
}

.hero {
    display: flex;
    margin-top: 16px;
}

.hero-content p {
    display: inline-block;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

img {
    width: 200px;
    border: 2px solid green;
}

.primary {
    background-color: greenyellow;
    border-radius: 5px;
    font-weight: 500;
}

/* --- CARD SECTION --- */

.card-content {
    margin-top: 60px;
}

.card-content h2, .card-content p, .card-content h3 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 60px;
}

.card {
    padding: 24px;
    border-radius: 5px;
    margin-top: 32px;
    background: linear-gradient(135deg, rgba(1,14,4,1) 0%, rgba(139,207,38,1) 100%, rgba(173,255,47,1) 100%);
}

/* --- TESTIMONIAL SECTION --- */